
@model GoldStandartTestProj.Models.ProjectTask
@{
}
    <form asp-action="edit" asp-controller="ProjectTask" asp-route-id="@Model.Id">
        <div class="form-group">
            <label asp-for="Name" class="control-label">Название задачи</label>
            <input type="text" asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="StatusId" class="control-label">Статус задачи</label>
            <select asp-for="StatusId" asp-items="ViewBag.Statuses">@*<option value=""></option>*@</select>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DateStart" class="control-label">Дата начало задачи</label>
            <input type="text" asp-for="DateStart" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label">Описание задачи</label>
            <input type="text" asp-for="Description" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="UserId" class="control-label">Разработчик задачи</label>
            <select asp-for="UserId" asp-items="ViewBag.Users">@*<option value=""></option>*@</select>
            <span asp-validation-for="User" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ProjectId" class="control-label">Задача</label>
            <select asp-for="ProjectId" asp-items="ViewBag.Projects">@*<option value=""></option>*@</select>
            <span asp-validation-for="Project" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Изменить" class="btn btn-default" />
        </div>
    </form>